/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #515264;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
}
/* end global rules */
.text {
  text-align: center;
  line-height: 1.6;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #333;
  opacity: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.text .top {
  font-weight: 200;
  font-size: 30px;
}
.text .bottom {
  font-weight: 200;
}
.text .mid {
  font-weight: 600;
  font-size: 30px;
}
.cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1.6;
  margin-bottom: 30px;
  margin-top: 31px;
}
.cont > div {
  width: calc(85% / 3);
}
.cont div:not(.not) {
  position: relative;
  height: 245px;
  overflow: hidden;
}
.cont div:not(.not) {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 10px 50px -35px #333;
}
.team {
  margin-bottom: 20px;
}
.cont div:first-child {
  border-top: 5px solid hsl(180, 62%, 55%);
}
.cont .team + div {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.cont div .team {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.cont > div:last-child {
  border-top: 5px solid hsl(212, 86%, 64%);
}
.cont div img {
  position: absolute;
  right: 5%;
  bottom: 5%;
  padding-top: 70px;
}
.cont p {
  color: hsl(231, 6%, 45%);
}
/* mobile media */
@media (max-width: 576px) {
  .cont {
    flex-direction: column;
  }
  .cont div {
    width: 345px;
  }
  .cont > div:first-child,
  .cont > div:nth-child(2) {
    margin-bottom: 20px;
  }
  .text {
    padding-left: 40px;
    padding-right: 40px;
  }
}
